{% extends 'base.html' %} {% load static %} {% block content %}
<h1>{{ airport_detail.airportName.value }}</h1>
<hr />
{% if dbpedia_data.abstract.value %}
<div class="d-flex flex-md-row flex-column-reverse gap-4">
    <div class="airport-big-info flex-grow-1">
      <p style="text-align: justify;">{{ dbpedia_data.abstract.value }}</p>
    </div>
      <div class="airport-info-box-wrapper col-12 col-md-5">
{% else %}
<div class="d-flex flex-md-row flex-column-reverse gap-4 justify-content-center">
    <div class="airport-info-box-wrapper col-12 col-md-5">
{% endif %}
    <div class="airport-info-box bg-light border border-secondary border-1 d-flex flex-column p-2 fs-6 w-100">
      <div class="bg-primary text-bg-primary text-center p-1">
        <span class="fw-semibold">{{ airport_detail.airportName.value }}</span>
      </div>

      {% if dbpedia_data.thumbnail %}
      <div class="my-2 d-flex justify-content-center w-100">
        <img src="{{dbpedia_data.thumbnail.value}}" alt="Thumbnail of {{ airport_detail.airportName.value }}">
      </div>
      {% endif %}

      <div class="text-center mb-1">
        {% if airport_detail.airportIATA %}
        <span class="fw-semibold">IATA: </span>
        <span class="badge text-sm text-bg-primary">{{ airport_detail.airportIATA.value }}</span>
        <span>•</span>
        {% endif %}
        <span class="fw-semibold">ICAO: </span>
        <span class="badge text-sm text-bg-secondary">{{ airport_iri }}</span>

        {% if airport_detail.gpsCode %}
        <span>•</span>
        <span class="fw-semibold">GPS: </span>
        <span class="badge text-sm text-bg-secondary">{{ airport_detail.gpsCode.value }}</span>
        {% endif %}

        {% if airport_detail.airportLocalCode %}
        <span>•</span>
        <span class="fw-semibold">LOCAL: </span>
        <span class="badge text-sm text-bg-secondary">{{ airport_detail.airportLocalCode.value }}</span>
        {% endif %}
      </div>

      <div class="bg-secondary text-bg-secondary text-center px-1 my-1">
        <span class="fw-semibold">Summary</span>
      </div>

      <div class="flex flex-row">
        <div class="flex row">
          <div class="col-4"><span class="fw-bold">Type</span></div>
          <div class="col-8 flex-grow-1">
            <span>{{ airport_detail.airportType.value }}</span>
          </div>
        </div>
      </div>

      {% if dbpedia_data.openedDate %}
      <div class="flex flex-row">
        <div class="flex row">
          <div class="col-4"><span class="fw-bold">Opened</span></div>
          <div class="col-8 flex-grow-1">
            <span>{{ dbpedia_data.openedDate.value }}</span>
          </div>
        </div>
      </div>
      {% endif %}

      <div class="flex flex-row">
        <div class="flex row">
          <div class="col-4"><span class="fw-bold">Serves</span></div>
          <div class="col-8 flex-grow-1">
            <span>{{ airport_detail.municipality.value }}</span>
          </div>
        </div>
      </div>

      <div class="flex flex-row">
        <div class="flex row">
          <div class="col-4"><span class="fw-bold">Scheduled Service</span></div>
          <div class="col-8 flex-grow-1">
            <span>{{ airport_detail.hasScheduledService.value }}</span>
          </div>
        </div>
      </div>

      <div class="flex flex-row">
        <div class="flex row">
          <div class="col-4"><span class="fw-bold">Location</span></div>
          <div class="col-8 flex-grow-1">
            <span>{{ airport_detail.regionName.value }}, </span
            ><a
              href="{% url 'country_detail' airport_detail.countryIRI.value %}"
              class="text-decoration-none"
              >{{ airport_detail.countryName.value }}</a
            >
          </div>
        </div>
      </div>

      <div class="flex flex-row">
        <div class="flex row">
          <div class="col-4"><span class="fw-bold">Coordinates</span></div>
          <div class="col-8 flex-grow-1">
            <span>{{ airport_detail.latitudeDeg.value }}, </span
            ><span>{{ airport_detail.longitudeDeg.value }} </span>
          </div>
        </div>
      </div>

      <div class="flex flex-row">
        <div class="flex row">
          <div class="col-4"><span class="fw-bold">Elevation</span></div>
          <div class="col-8 flex-grow-1">
            <span>{{ airport_detail.elevationFt.value }} ft</span>
          </div>
        </div>
      </div>

      {% if airport_detail.runways.value %}
      <div class="bg-secondary text-bg-secondary text-center px-1 mt-2 my-1">
        <span class="fw-semibold">Runways</span>
      </div>
      {% for runway in airport_detail.runways.value %}
      <div class="runway-entry flex flex-column w-100 bg-primary-subtle p-1 mt-1">
        <div class="flex flex-row">
          <div class="flex row">
            <div class="col-4"><span class="fw-semibold">Length</span></div>
            <div class="col-8 flex-grow-1">
              <span>{{ runway.length }} ft</span>
            </div>
          </div>
        </div>

        <div class="flex flex-row">
          <div class="flex row">
            <div class="col-4"><span class="fw-semibold">Width</span></div>
            <div class="col-8 flex-grow-1">
              <span>{{ runway.width }} ft</span>
            </div>
          </div>
        </div>

        <div class="flex flex-row">
          <div class="flex row">
            <div class="col-4"><span class="fw-semibold">Surface</span></div>
            <div class="col-8 flex-grow-1">
              <span>{{ runway.surfaceType }}</span>
            </div>
          </div>
        </div>

        <div class="flex flex-row">
          <div class="flex row">
            <div class="col-4">
              <span class="fw-semibold">Lower ID</span>
            </div>
            <div class="col-8 flex-grow-1">
              <span>{{ runway.lowerIdent }}</span>
            </div>
          </div>
        </div>

        <div class="text-end w-100 text-primary">
          <span>{% if runway.isLighted %}<abbr title="Runway is lighted">💡</abbr> {%else%}<abbr title="Runway is not lighted">🔅</abbr>{% endif %} </span>
          <span> {% if runway.isClosed %}<abbr title="Runway is closed">⛔</abbr>{%else%}<abbr title="Runway is open">✅</abbr>{% endif %} </span>
        </div>
      </div>

      {% endfor %} {% endif %} {% if navaids_data %}
      <div class="bg-secondary text-bg-secondary text-center px-1 mt-2 my-1">
        <span class="fw-semibold">Navaids</span>
      </div>
      {% for navaid in navaids_data %}
      <div
        class="runway-entry flex flex-column w-100 bg-primary-subtle p-1 mt-1"
      >
        <div class="flex flex-row">
          <div class="flex row">
            <div class="col-4"><span class="fw-semibold">Name</span></div>
            <div class="col-8 flex-grow-1">
              <span class="fw-semibold">{{ navaid.name }}</span>
            </div>
          </div>
        </div>

        <div class="flex flex-row">
          <div class="flex row">
            <div class="col-4"><span class="fw-semibold">Type</span></div>
            <div class="col-8 flex-grow-1">
              <span><abbr title="{{ navaid.navTypeInfo }}">{{ navaid.navType }}</abbr></span>
            </div>
          </div>
        </div>

        <div class="flex flex-row">
          <div class="flex row">
            <div class="col-4">
              <span class="fw-semibold">Frequency</span>
            </div>
            <div class="col-8 flex-grow-1"><span>{{ navaid.freq }} KHz</span></div>
          </div>
        </div>

        <div class="flex flex-row">
          <div class="flex row">
            <div class="col-4">
              <span class="fw-semibold">Coordinates</span>
            </div>
            <div class="col-8 flex-grow-1">
              <span>{{ navaid.coordinates }}</span>
            </div>
          </div>
        </div>

        <div class="flex flex-row">
          <div class="flex row">
            <div class="col-4">
              <span class="fw-semibold">Elevation</span>
            </div>
            <div class="col-8 flex-grow-1">
              <span>{{ navaid.elevationFt }} ft</span>
            </div>
          </div>
        </div>

        <div class="flex flex-row">
          <div class="flex row">
            <div class="col-4"><span class="fw-semibold">Country</span></div>
            <div class="col-8 flex-grow-1">
              <span
                ><a
                  href="{% url 'country_detail' airport_detail.countryIRI.value %}"
                  class="text-decoration-none"
                  >{{ navaid.countryName }}</a
                ></span
              >
            </div>
          </div>
        </div>

        <div class="flex flex-row">
          <div class="flex row">
            <div class="col-4">
              <span class="fw-semibold">Magnetic Variation</span>
            </div>
            <div class="col-8 flex-grow-1">
              <span>{{ navaid.magneticVarDeg }}°</span>
            </div>
          </div>
        </div>

        <div class="flex flex-row">
          <div class="flex row">
            <div class="col-4">
              <span class="fw-semibold">Usage Type</span>
            </div>
            <div class="col-8 flex-grow-1">
              <span><abbr title="{{ navaid.usageTypeInfo }}">{{ navaid.usageType }}</abbr></span>
            </div>
          </div>
        </div>

        <div class="flex flex-row">
          <div class="flex row">
            <div class="col-4">
              <span class="fw-semibold">Power Usage</span>
            </div>
            <div class="col-8 flex-grow-1">
              <span>{{ navaid.powerUsage }}</span>
            </div>
          </div>
        </div>

        <div class="flex flex-row">
          <div class="flex row">
            <div class="col-4">
              <span class="fw-semibold">ID</span>
            </div>
            <div class="col-8 flex-grow-1">
              <span>{{ navaid.navId }}</span>
            </div>
          </div>
        </div>
      </div>

      {% endfor %} {% endif %}
    </div>
  </div>
</div>

{% endblock content %}
